.box{
    background-color: aqua;
    width: 400px;
    height:  100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    
}